version: appveyor_build{build}

os: Visual Studio 2015

environment:
  global:
    PLATFORMTOOLSET: "v140"
  matrix:
    - CONFIGURATION: Release
      COMPILER: MinGW
      PLATFORM: i686

build:
  project: rufus.sln
  parallel: true
  verbosity: detailed

install:
- if [%COMPILER%]==[MinGW] set "PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;%PATH%"
- if [%COMPILER%]==[MinGW] set
- if [%COMPILER%]==[MinGW] xcopy /S C:\projects\rufus C:\msys64\home\appveyor\
- if [%COMPILER%]==[MinGW] C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S mingw-w64-%PLATFORM%-gcc"

build_script:
- if [%COMPILER%]==[MSVC15] msbuild rufus.sln /m /p:Configuration=%CONFIGURATION%,Platform=%PLATFORM% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
- if [%COMPILER%]==[MinGW] C:\msys64\usr\bin\bash -lc "./configure --build=%PLATFORM%-w64-mingw32 --host=%PLATFORM%-w64-mingw32 --disable-debug; %PLATFORM%-w64-mingw32-gcc -dM -E -x c /dev/null; make -j4"
